// Comments

.comment {
	margin-bottom: $spacer-2;
	.comment-inner {
		padding: $spacer-2;
		background-color: rgba($secondary, 0.1);
		border-radius: $border-radius;
		display: inline-block;
		p:last-of-type {
			margin-bottom: 0;
		}
	}
	.comment {
		margin-top: $spacer-2;
	}
}