// General Style

main {
  //min-height: 100vh;
  min-height: calc(100vh - 70px);
}
.mvh-100 {
  min-height: 100vh;
}

.btn.text-uppercase {
  letter-spacing: 0.5px;
}

.fa-1-5x {
  font-size: 130%;
}

.dropdown-toggle.no-caret {
  &:after {
    display: none;
  }
}
.bg-secondary-light {
  background-color: rgba($secondary, 0.1);
}
.bg-primary-card {
  background-color: mix($primary, $white, 18%);
}
.btn-emoji-response {
  @extend .btn-light;
  padding-left: $spacer-2;
  img {
    max-width: 1.2rem;
    margin-right: $spacer-2;
  }
  &.voted {
    border-color: lighten($third, 20%);
    background-color: lighten($third, 35%);
    color: $secondary;
  }
}
.popover {
  @extend .shadow;
  .btn-ghost {
    padding: $spacer-1;
    img {
      max-width: 1.75rem;
    }
  }
}

.border-transparent {
  border-color: transparent !important;
}

.btn-light {
  color: $text-muted;
  &:hover,
  &:active,
  &:focus {
    border-color: transparent;
    background-color: lighten($third, 35%);
  }
}

.btn-ghost {
  color: $text-muted;
  &:hover,
  &:active,
  &:focus {
    color: $secondary;
    border-color: transparent;
    background-color: $light;
  }
}
.btn-soft-secondary {
  color: $secondary;
  background-color: rgba($secondary, 0.2);
  &:hover,
  &:active,
  &:focus {
    background-color: $secondary;
    color: $white;
  }
}

.user-img {
  height: 2.25rem;
  width: 2.25rem;
  object-fit: cover;
  @extend .mr-sm-3;
  margin-right: $spacer-2;
  @extend .rounded-circle;
  &.user-xl {
    height: 7.85rem;
    width: 7.85rem;
    border: 4px solid $white;
  }
}

.logo-img-sm {
  height: 2.25rem;
  width: 2.25rem;
  object-fit: cover;
  margin-right: $spacer-3;
  @extend .rounded;
}
.logo-img {
  height: 8rem;
  width: 8rem;
  border: 4px solid $white;
  object-fit: cover;
  margin-right: $spacer-3;
  @extend .rounded;
  background-color: $white;
  @extend .shadow-sm;
}

@include media-breakpoint-down(xs) {
  .user-img.user-xl,
  .logo-img {
    height: 5.65rem;
    width: 5.65rem;
    margin-top: 1rem;
    margin-right: 0.75rem;
  }
}
.user-link {
  color: $secondary;
  font-weight: 600;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
    color: $secondary;
  }
}
.list-unstyled .user-link {
  font-size: 1rem;
}

.post p:last-of-type {
  margin-bottom: $spacer-0;
}

.smaller {
  font-size: 90%;
}

label {
  font-weight: 500;
}

@include media-breakpoint-up(md) {
  .position-md-relative {
    position: relative;
  }
}
.card-body {
  .gallery-img {
    img {
      max-height: 500px;
      width: 100%;
      object-fit: cover;
    }
    &.fit-img {
      border-radius: $border-radius;
      background-color: $gray-100;
      img {
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}
.card-header,
.card-footer {
  background-color: $white;
}
