// Module Style

.form-light {
	.form-control {
		background-color: rgba($white, 0.25);
		border: transparent;
		color: $white;
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  color: $gray-200;
		  opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: $gray-200;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		  color: $gray-200;
		}
	}
}
.form-control {
	box-shadow: none;
}
.input-group-text {
	border-color: transparent;
}
.select2-container--bootstrap4 .select2-selection {
    background-color: $gray-200 !important;
    box-shadow: none !important;
    border-color: transparent !important;
}


/* response to post form */
.response-group {
	background-color: rgba($secondary, 0.1);
	border-radius: $border-radius;
	align-items: flex-start;
	.d-flex span.p-2{
		display: none;
	}
	.form-control {
		background-color: transparent;
		border: none;
		height: 38px;
		transform: all 0.2s ease-in;
		resize: none;
		&:focus, &:not(:placeholder-shown) {
			background-color: transparent;
			height: 5rem;
			transition: all 0.2s ease-in;
			box-shadow: none;
			& + .d-flex span.p-2 {
				display: block;
			}
		}
	}
	
	.btn:not(.btn-secondary) {
		color: $secondary;
		&:hover {
			color: $link-color;
		}
	}
}

#makePost {
	textarea {
		min-height: 40px;
		height: 40px;
		transition: all 0.2s ease-in;
		box-shadow: none;
		resize: none;
		background-color: rgba($secondary, 0.1);
		line-height: 1.75rem;
		&:focus, &:not(:placeholder-shown) {
			min-height: 7rem;
			transition: all 0.2s ease-in;
		}
	}
	select.form-control {
		background-color: $white;
	}
}

//modal 
.modal {
	.form-control {
		background-color: $gray-200;
	}
}
.modal-header {
	background-color: $secondary;
	color: $white !important;
	h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
		color: $white;
	}
	.close {
		color: $white;
		opacity: 0.7;
		text-shadow: 0 1px 0 rgba($black, 0.3);
	}
}

@include media-breakpoint-up(sm)  {
.modal-lg, .modal-xl {
    width: 80%;
    max-width: 800px; 
   }
}
