/* 
*
*  image gallery popup 
*  from am_simplelider.js
*/
.gallery-img {
    cursor: pointer;
}
.popup-overlay {
    background-color: rgba($black, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:2040;
    overflow: scroll;
    .product-popup-content {
        position: absolute;
        width: calc(100% - 1.5rem);
        height: auto;
        background-color: $white;    
        display: flex;
        top: 0.75rem;
        left: 0.75rem;
        border-radius: $border-radius;
        flex-direction: column;
        @extend .shadow-sm;
    }
}

.product-information {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
   // justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: auto;

}
.comments {
    max-height: 100%;
    overflow: auto;
}

.product-image {
    height: auto;
    display: flex;
    overflow: hidden;
    background: $secondary;
    padding: $spacer-2;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        $border-radius: $border-radius;
    }
}

.times {
    color: $text-muted;
    position: absolute;
    top: 0;
    right: 0.5rem;
}

.gallery-nav-btns {
    position: absolute;
    inset:0 ;
    height: 100%;
    width: 100%;
    a {
        margin-top:0;
        display: flex;
        position: absolute;
        width: 5rem;
        height:100%;
        top: 0; 
        bottom: 0;
        text-align: center;
        opacity:0.6;
        cursor:pointer;
        font-size: 2rem;
        color: white; 
        transition: all 0.12s ease-in;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity:1;
            text-decoration: none;
            transition: all 0.12s ease-in;
        }
    }
}

.nav-btn.prev {
   left:0rem;
   @extend .fa;
   @extend .fa-chevron-left;
   
}
.nav-btn.next{
   right: 0rem;
   @extend .fa;
   @extend .fa-chevron-right;
}

@include media-breakpoint-up(md) { 
    .product-image {
        position: relative;
        width: calc(100% - 330px);
        height: 100%;
    }
    .product-information {
        width: 330px;
    }
    .product-gallery-popup {
        overflow: initial;
        .product-popup-content  {
            flex-direction: row;
            height: calc(100% - 1.5rem);
            overflow: hidden;
        }
    }
}

@include media-breakpoint-down(lg) { 
    .gallery-nav-btns {
        inset: 0;
        width: 100%;
    }
    // .nav-btn.prev {
    //     left:0;
    // }
    // .nav-btn.next{ 
    //     right: 0;
    // }
}
