// User profile

.user-profile {
  .bg-wrap {
    max-width: 100%;
    height: 12rem;
    position: relative;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  .no-profile-img img {
    position: initial;
    object-fit: cover;
  }
  .card-img-top {
    /*height: 12rem;
		width: 100%;
		object-fit: cover;
		object-position: top left;*/
    position: absolute;
    left: 0;
    bottom: -64px;
    min-width: 750px;
  }
  .card-body {
    z-index: 20;
    overflow: initial;
  }
  .profile-info {
    margin-top: -4.85rem;
    position: relative;
  }
  .business-info {
    margin-top: -5rem;
    position: relative;
  }
  &:hover {
    .btn-soft-secondary {
      background-color: $secondary;
      color: $white;
      transition: all 0.2s ease-in;
    }
  }
}

.social-list {
  margin-bottom: $spacer-0;
  .list-inline-item:not(:last-child) {
    margin-right: 0.25rem;
  }
}

.btn-social {
  @extend .btn-sm;
  @extend .btn-primary;
  margin-bottom: $spacer-2;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-weight: 400 !important;
}

.connected {
  @extend .btn-sm;
  margin-right: $spacer-2;
  color: $white;
  background-color: $third;
  width: 1.8rem;
  height: 1.8rem;
  padding: $spacer-1;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

@include media-breakpoint-down(xs) {
  .friends-list {
    .btn:not(.btn-ghost) {
      width: 5rem !important;
      padding: 0.25rem 0.35rem !important;
      font-size: 0.875rem;
    }
  }
  .user-profile {
    h2 {
      font-size: 1.5rem;
    }
    .user-img + .btn {
      top: 4rem;
    }
  }
  .user-profile {
    .bg-wrap {
      height: 8rem;
    }
    .card-img-top {
      min-width: initial;
      max-width: 545px; //calc(750px * 0.7);
      bottom: -44px;
      width: initial;
    }
  }
}
@include media-breakpoint-up(sm) {
  .profile-info {
    padding-left: 0.85rem;
  }
}
