// Layout Style

@include media-breakpoint-down(xs) {
  main {
    margin-top: 7rem !important;
  }
}
@include media-breakpoint-up(md) {
  #sticky-side {
    width: 285px;
    &.stickBottom {
      position: fixed; 
      bottom: 15px;
    }
    &.stickTop {
      position: sticky;
      top: 60px;
    }
  }
  #contentWrap {
    max-width: calc(100vw - 285px - 35px); //sticky-side - from-row-gap
  }
}
@include media-breakpoint-up(lg) { 
  .navbar {
    flex-wrap: nowrap !important;
  }
  #stiky-side {
    width: 285px;
  }
  #contentWrap {
    max-width: calc(740px - 285px - 35px);
  }
  #mainWrap {
    max-width: 740px;
    min-width: 740px; 
  }
}

@include media-breakpoint-up(xl) {
  #mainWrap {
    max-width: 880px;
    min-width: 880px; 
  }
  .main-wrap {
    max-width: calc(880px + 2rem);
  }
  #contentWrap {
    max-width: calc(880px - 285px - 35px);
  }
  .user-img.user-xl {
    transform: scale(1.16);
  }
}
.cookie-note {
  position: sticky;
  bottom: 0;
}
