// voting

.voting {
	font-size: 0.85rem;
}
.progress-bar {
	overflow: visible;
	text-align: left;
	span {
		color: $gray-400;
		padding: 0 0.5rem;
	}
}

.voting-stars {
	span {
		padding: 0.3rem;
		border-radius: $border-radius;
		color: $white;
		background-color: $gray-400;
	}
	.checked {
		background-color: $primary;
	}
	.half {
		background: linear-gradient(90deg, rgba($primary,1) 0%, rgba($primary,1) 50%, rgba($gray-400,1) 50%, rgba($gray-400,1) 100%);
	}
}

.voting-star-btns { 
	 direction: rtl;
	.btn:hover,
	.btn.selected,
	.btn:hover ~ .btn,
	.btn.selected ~ .btn{
	  transition: color 0.4s ease;
	  background-color: $primary;
	  color: $white;
	}
}

.first-review-badge {
	background-color: $white;
	color: $primary;
	@extend .shadow-sm;
	padding: $spacer-1 $spacer-3;
	position: absolute;
	@extend .smaller;
	top: -.65rem;
	right: 2rem;
	display: inline-block;
	font-weight: 600;
	border-radius: 1rem;
}

.vote-results {
	.progress {
		height: 0.65rem;
		background-color: $gray-200;
	}
	.form-row.align-items-center {
		margin-bottom: $spacer-1;
	}
}

.representative-votes {
	margin-bottom: 0;
	display: flex;
	align-self: center;
	li {
		margin: 0 3px;
		width: 10px;
		height: 10px;
		display: inline-block;
		border-radius: 50%;
		background-color: $gray-500;
		&.voted {
			background-color: $secondary;
		}
	}
}

.review-img img{
	height: 7rem;
	width: 100%;
	object-fit: cover;
}