<div class="position-sticky d-flex flex-column justify-content-between h-100">
  <ul class="list-unstyled sidenav mb-0">
    <hr class="mt-2 d-md-none w-100" />

    <li class="active">
      <a href="/feed/" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-newspaper"></i>News Feed
      </a>
    </li>

    <li>
      <a href="#" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-user-circle"></i>My Profile
      </a>
    </li>

    <li>
      <a href="#" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-user-friends"></i>Friends
      </a>
    </li>

    <li>
      <a href="#" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-images"></i>Photos
      </a>
    </li>

    <li>
      <a href="#" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-stars"></i>Reviews
      </a>
    </li>

    <li>
      <a href="#" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-users"></i>Groups
      </a>
    </li>

    <li>
      <a href="#" class="px-3 py-2 text-secondary text-decoration-none d-block">
        <i class="fa fa-fw mr-2 text-primary fa-briefcase"></i>Businesses
      </a>
    </li>
  </ul>

  <div class="px-3 pb-4">
    <hr class="mt-4 mb-3" />
    <footer>
      <p class="text-center text-muted small mb-2">
        <a href="/terms/" class="text-muted">Privacy Policy</a> •
        <a href="/terms/" class="text-muted">Terms &amp; Conditions</a>
      </p>
      <p class="text-center text-muted small mb-0">© 2021 Heypage, LLC</p>
    </footer>
  </div>
</div>
