{% load static %}
<nav class="navbar fixed-top navbar-expand navbar-dark bg-secondary mb-4 shadow-sm flex-wrap justify-content-between">
  <div class="col-auto col-md-3 p-0 sidenav-wrap d-flex align-items-center">
    <button class="d-lg-none btn text-white mr-2" id="sideNavToggle" type="button" aria-label="Toggle menu">
      <i class="fa fa-bars"></i>
    </button>

    <a class="navbar-brand p-0 m-0 mr-sm-2" href="/feed/">
      <img
        src="{% static 'img/heypage_white.svg' %}"
        alt="Heypage"
        style="width: 9.55rem"
        class="d-none d-md-block"
      />
      <img
        src="{% static 'img/heypage-icon.svg' %}"
        alt="Heypage"
        style="width: 2rem"
        class="d-md-none"
      />
    </a>
  </div>

  <div class="col-auto p-0 order-2 order-sm-3">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item px-1 dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle no-caret"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-user-friends"></i>
          <span class="badge badge-primary">4</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow-sm dropdown-xs-middle p-0" aria-label="Friend Requests">
          <div class="notify-drop-title bg-secondary px-3 py-2">
            <h6 class="mb-0 text-white">Friend Requests</h6>
          </div>

          <div class="drop-content bg-white px-3 py-2">
            <div class="media mb-2">
              <a href="#"><img src="{% static 'img/users/user3.jpg' %}" alt="" class="user-img" /></a>
              <div class="media-body ml-2">
                <a href="#" class="user-link">Daisy Mendoza</a>
                <div class="small text-muted">Just now</div>
              </div>
            </div>
            <a href="#" class="btn btn-outline-primary btn-sm border-0 btn-block">View All</a>
          </div>
        </div>
      </li>

      <li class="nav-item px-2">
        <a href="#" class="nav-link" role="button" aria-label="Notifications">
          <i class="fa fa-bell"></i>
        </a>
      </li>

      <li class="nav-item px-2">
        <a href="#" class="nav-link" role="button" aria-label="Messages">
          <i class="fa fa-envelope"></i>
        </a>
      </li>

      <li class="nav-item px-2 dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle no-caret"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          aria-label="Account"
        >
          <i class="fa fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow-sm">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/settings/">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout/">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
