<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Heypage{% endblock %}</title>
</head>
<body>
  <header>
    {% include 'includes/top_nav.html' %}
  </header>

  <div class="layout">
    {% block side_nav %}
      {% include 'includes/side_nav.html' %}
    {% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>
  </div>

  <footer>
    {% include 'includes/site_footer.html' %}
  </footer>
</body>
</html>
